.slider-section {
    background-color: var(--branco-padrao);
    padding: 4em 2em;
    margin-top: -10px;
    text-align: center;
    border-radius: 0% 0% 50% 50% / 10% 16% 8% 8%;
}

.slider-section h2 {
    margin-bottom: 1em;
}
.cards {
    white-space: nowrap;
    background-color: var(--branco-padrao);
    width: 0;
}

.card-outter {
    display: inline-block;
    padding-left: 20px;
}

ol {
    list-style: none;
    padding: 0;
}

.card {
    border-radius: 10px;
    background: var(--branco-padrao);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.40);
    width: 55vw;
    margin: 10px;
    padding: 20px;
}

.card-descricao {
    color: gray;
    white-space: wrap;
    text-align: center;
    margin-bottom: 1em;
}

.card h4 {
    color: var(--cor-destaque);
}


.slider-container {
    position: relative;
    overflow: hidden;
    background-color: var(--branco-padrao);
    margin: 0 -20px;
}

.slider {
    transition: transform .2s ease-out;
}


@media (min-width: 900px) {

    .card {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 30vw;
        height: 200px;
    }
    
}